/* Estilo para el select */
select {
    background-color: rgb(109, 109, 109); /* Fondo gris */
    color: rgb(255, 0, 0); /* Texto blanco */
    border-radius: 5px; /* Bordes redondeados */
    width: 100px; /* Ancho del select */
    height: 40px; /* Alto del select */
    font-size: 16px; /* Tamaño de fuente */
    padding: 10px; /* Espaciado interior */
    justify-content: center; /* Centra los elementos */
}

/* Estilo para el body */
body {
    background-color: #3d3d3d; /* Fondo azul oscuro */
    font-family: 'Times New Roman', Times, serif; /* Fuente */
}

/* Estilo para las etiquetas label */
label {
    color: white; /* Texto blanco */
    font-size: 20px; /* Tamaño de fuente*/
}

/* Estilo para el h1 */
h1 {
    color: white; /* Texto blanco */
}

/* Estilo para el legend */
legend {
    color: white; /* Texto blanco */
    margin-bottom: 0; /* Elimina el margen */
}