/* Estilo para el select */
select {
    background-color: rgb(109, 109, 109); /* Fondo gris */
    color: white; /* Texto blanco */
    border-radius: 5px; /* Bordes redondeados */
    width: 100px; /* Ancho del select */
    height: 40px; /* Alto del select */
    font-size: 16px; /* Tamaño de fuente */
    padding: 10px; /* Espaciado interior */
    justify-content: center; /* Centra los elementos */
}

/* Estilo para el body */
body {
    background-color: rgb(6, 39, 72); /* Fondo azul oscuro */
    font-family: 'Times New Roman', Times, serif; /* Fuente */
}

/* Estilo para las etiquetas label */
label {
    color: white; /* Texto blanco */
    font-size: 20px; /* Tamaño de fuente*/
}

/* Estilo para el h1 */
h1 {
    color: white; /* Texto blanco */
}

/* Estilo para los checkbox */
input[type="checkbox"], .form-check-input {
    width: 20px; /* Ancho */
    height: 20px; /* Alto */
    transform: scale(1.25); /* Aumenta el tamaño */
}

/* Estilo para el contenedor de opciones */
#juntarOpciones {
    display: flex; /* Muestra los elementos en fila */
    align-items: center; /* Alinea al centro */
    gap: 10px; /* Espacio entre los elementos */
}

/* Estilo para el legend */
legend {
    color: white; /* Texto blanco */
    margin-bottom: 0; /* Elimina el margen */
}

/* Estilo para las etiquetas de los checkbox */
.form-check-label {
    color: white; /* Texto blanco */
    font-size: 15px; /* Tamaño de fuente */
    margin-right: 10px; /* Espacio a la derecha */
}
